@import "../../abstracts/variables.scss";

.listitem {
  &__button {
    display: flex;
    border-radius: 15px;
    position: relative;
    width: 100%;
    padding: 16px;
    background-color: $color-white;
    gap: 20px;
    font-size: inherit;
    // z-index: 10;

    &:hover {
      color: $color-black-op04;
    }
  }

  &__name {
    // position: relative;
    // z-index: 0;
  }

  &__number {
    opacity: 0.4;
  }

  &_active {
    background-color: $color-red;
    color: $color-white;
  }
}

.taskitem {
  opacity: 1;
  &_active {
    opacity: 1;
  }
}
