@import "../../abstracts/variables.scss";

.listitem {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  background-color: $color-white;

  &__button {
    display: flex;
    border-radius: 15px;
    position: relative;
    width: 100%;
    padding: 16px;
    background-color: $color-white;
    gap: 20px;
    font-size: inherit;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    // z-index: 10;

    &:hover {
      // color: $color-black-op04; //* firstmobile убирать hover
    }
  }

  &__name {
    text-align: start;
  }

  &__number {
    opacity: 0.4;
  }
  &__clean {
    font: inherit;
    color: $color-white;
    background-color: transparent;
    padding: 5px;
    margin-left: auto;

    &:hover {
      color: $color-light-red;
    }
  }

  &_active {
    background-color: $color-red;
    color: $color-white;
  }
}

.taskitem {
  opacity: 1;

  &_active {
    opacity: 1;
  }
}
