@import "../../abstracts/variables.scss";
@import "../../abstracts/animations.scss";

.taskitem {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  border: 0px solid transparent;
  //   gap: 20px;
  background-color: $color-white;

  //   position: absolute;
  //   z-index: 1;
  //   animation: appear 1000ms ease-in;

  &__button {
    font: inherit;
    display: flex;
    border-radius: 15px;
    width: 100%;
    padding: 16px;
    color: $color-black-op04;
    background-color: $color-white;
    gap: 20px;

    &:hover {
      color: $color-black;
    }
  }
}
